*,
*::before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*,
*:focus,
*:hover,
*:visited,
*:active {
  outline: none;
  text-decoration: none;
}

html {
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  //height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

fieldset,
legend {
  margin: 0;
  padding: 0;
  border: none;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  border-radius: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button,
select {
  text-transform: none;
  cursor: pointer;
}

input {
  border: none;
  background: none;
}

input[type='number'] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

table {
  border-collapse: collapse;
}

caption {
  text-align: inherit;
}

figure {
  margin: 0;
}

img {
  vertical-align: top;
  max-width: 100%;
  border-style: none;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
