@font-face {
  font-family: 'Inter';
  src:
          url('/fonts/Inter-Medium.woff2') format('woff2'),
          url('/fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
          url('/fonts/Inter-SemiBold.woff2') format('woff2'),
          url('/fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
          url('/fonts/Roboto.woff2') format('woff2'),
          url('/fonts/Roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
