// Дизайн токены и boilerplate
@use "@krystark/ui-kit-theme/scss/reset" as *;
@use "@krystark/ui-kit-theme/scss/variables" as *;
@use "@krystark/ui-kit-theme/scss/mixins" as *;
@use "@krystark/ui-kit-theme/scss/setup" as *;

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-family), "sans-serif"!important;
  font-weight: 500;
  color: rgb(var(--text-primary));
  background: rgb(var(--background-secondary));
}

.cv-auto {
  content-visibility: auto;
  contain-intrinsic-size: 44px 44px;
}