// Дизайн токены и boilerplate
@use "./setup/reset";
@use "./setup/variables";
@use "./setup/mixins";
@use "./setup/setup";

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-family), "sans-serif"!important;
  font-weight: 500;
  color: rgb(var(--text-primary));
  background: rgb(var(--background-secondary));
}